BOOKMARKS_MANAGER_API_KEY=change-me
BOOKMARKS_MANAGER_CONNECTION_STRING=Server=db;Database=bookmarks_manager;User=bookmarks;Password=change-me;
MARIADB_SERVER_VERSION=10.11.6-mariadb
FRONTEND_ORIGIN=https://bookmarks.straccini.com
